<body class="mat-app-background">
  <p>
    <mat-toolbar color="primary">
      <img src="../assets/logo.png" height="50px" width="50px" style="padding-right: 20px;"/>
      <span>Lit Va-stay-tions</span>
      <span class="example-spacer"></span>
      <div style="padding-right: 15px;">
        <button mat-raised-button color="accent">
          Login
        </button>
        <div class="space"></div>
        <button mat-raised-button color="accent">
          Signup
        </button>
      </div>
    </mat-toolbar>
  </p>
  <router-outlet></router-outlet>
</body>
